.app {
  //height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  flex: 0 0 3em;
  background-color: #333333;
  color: #167cc4;
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 1000;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  margin-top: 3em;
}

.sidebar {
  height: calc(100vh - 3em);
  width: 18em;
  background-color: #333333;
  position: fixed;
  color: #adadad;
  transition: 0.5s;
  // @media (max-device-width: 1024px) {
  //   //display: none;
  //   left: -18em;
  // }

  a {
    color: #adadad;
  }
}

.content {
  // height: calc(100vh - 3em);
  // width: calc(100vw - 18em);
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  margin-left: 18em;
  padding: 2px;

  // @media (max-device-width: 1024px) {
  //   margin-left: 0;
  // }
}
