body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

#root {
  height: 100%;
  background-color: white;
}

html,
body {
  height: 100%;
  font: 100%/1.5625 'Source Sans Pro', sans-serif;
}
