.button {
  //   border-color: #f7f7f7;
  //   background-color: #f7f7f7;
  border-radius: 4px;
  //   border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  //   color: #252526;
  //   background-color: #73c991;
  //   border: 1px solid #73c991;
  margin-top: 20px;
  //margin-right: 20px;
  align-self: flex-end;
  cursor: pointer;
}

.fieldSet {
  display: flex;
  flex-direction: column;
  border: none;
  width: 600px;
  align-items: left;
  margin-top: 20px;
  label {
    // font-size: 14px;
    // font-weight: 500;
    // color: #e3e3e3;
    margin-bottom: 5px;
  }
  input {
    // border-color: #3c3c3c;
    // background-color: #3c3c3c;
    // // border-radius: 4px;
    // border: 1px solid #3c3c3c;
    // color: #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  textarea {
    // border-color: #3c3c3c;
    // background-color: #3c3c3c;
    // // border-radius: 4px;
    // border: 1px solid #3c3c3c;
    // color: #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .react-mde .grip {
    background-color: #333333;
    border-color: #1e1e1e;
  }

  .mde-header {
    background: #333333;
    border-color: #1e1e1e;
  }

  .react-mde {
    border-color: #1e1e1e;
  }

  .mde-header .mde-tabs button.selected {
    border-color: #1e1e1e;
  }

  .mde-header .mde-tabs button {
    color: #adadad;
  }

  .mde-header ul.mde-header-group li.mde-header-item button {
    color: #adadad;
  }
}

.buttonFieldSet {
  display: flex;
  flex-direction: row;
  border: none;

  margin-top: 30px;
  width: 600px;
  justify-content: space-between;

  input {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ccc;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .btn-delete {
    color: #252526;
    background-color: #f88070;
    border: 1px solid #f88070;
  }
  .btn-save {
    color: #252526;
    background-color: #73c991;
    border: 1px solid #73c991;
    margin-left: 20px;
  }
  .btn-cancel {
    color: #252526;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
  }
}
