.listContainer {
  flex: 0 0 300px;
  // background-color: red;
  //height: 100%;
  border-radius: 3px;
  border: 1px solid #343d47;
  margin: 10px;
  box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.1);

  padding: 4px;
}

.formContainer {
  flex: 1 0 auto;
  margin: 10px;
}
