.search {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: left;

  input {
    // border-color: #3c3c3c;
    // background-color: #3c3c3c;
    // border-radius: 4px;
    border: 1px solid #3c3c3c;
    // color: #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
